body {
    background-color: #0cf5f2;
    color: #f71bed;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;    
}

h1 {
    color: #e9f71b;
    font-size: 52px;
}

h2 {
    color: #e9f71b;
    font-size: 36px;
}

h3 {
    color: #e9f71b;
    font-size: 28px;
}

p {
    width: 600px;
    font-size: 22px;
}

li {
    width: 500px;
    font-size: 22px;
}

.recipes {
    font-size: 24px;
}

.ingredients {
    border: 2px solid white;
    padding: 5px;
    width: 600px;
}

.ingredients h2 {
    margin-top: 0px;
}

.ingredients h3 {
    margin-top: 0px;
}

.image {
    width: 300px;
    height: auto;
}

.back {
    font-size: 12px;
    margin-left: -40px;
}